
.searchinput {
    width: 60%;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}

.searchbutton {
    margin: 5px;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #f7d08a;
    background-color: #f7d08a;
    font-family: Martel, serif;
}

.searchbutton:hover {
    background-color: #418153 ;
    color: white;
    border: 1px solid white;
}